.carousel-inner{
    width: 100%;
    height: 300px;
}
.card-img-top{
    width: 60%;
    height: 250px;
}
.footer{
    width: 100%;
    height: auto;
    background-color:rgb(252, 255, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista-footer{
    display: flex;
    list-style-type: none;
}

.item-footer{
    padding: 25px;
}
